<%- include('header') %>
  <% if (!loggedIn) { %>

  <% } else { %>
    <header class="header container-fluid">
      <nav class="container">
        <section class="row">
          <div class="column column-20">
            <a href="/"><img class="logo" src="assets/logos/unite-logo-black.png" height="40px"/></a>
            <a href="/"><img class="logo1" src="assets/logos/unite-logo-black-small.png" height="40px"/></a>
          </div>
          <div class="column nav">
            <div class="nav">
              <a class="" href="/directory">DIRECTORY</a>
            </div>
            <span class="">|</span>
            <div class="profile">
              <h6 class="username"><%= user.username_full %></h6>
              <img class="avatar" src="https://discordapp.com/api/users/<%= user.discord_id %>/avatars/<%= user.avatar %>.jpg" height="30px"/>
            </div>
          </div>
        </section>
      </nav>
    </header>
    <main class="container">
      <h3 class="game-header">Create A Team:</h3>
      <section class="row">

      </section>
    </main>
  <% } %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>

<%- include('footer') %>
