<%- include('header') %>
  <% if (!loggedIn) { %>
    <header class="header container-fluid">
      <nav class="container">
        <section class="row">
          <div class="column">
            <a href="/"><img class="logo" src="assets/logos/unite-logo-black.png" height="40px"/></a>
            <a href="/"><img class="logo1" src="assets/logos/unite-logo-black-small.png" height="40px"/></a>
            <a class="button button-outline float-right login" href="/login"><img src="assets/logos/discord.svg" class="discord-logo" height="32px"/>LOG IN WITH DISCORD</a>
          </div>
        </section>
      </nav>
    </header>
    <main>
      <div class="video-overlay"></div>
      <video playsinline autoplay muted loop poster="assets/video/moba.png" id="bgvid">
        <source src="assets/video/moba.webm" type="video/webm">
        <source src="assets/video/moba.mp4" type="video/mp4">
      </video>
      <div class="jumbo-copy">
        <img class="logo-jumbo" src="assets/logos/unite-logo-white.png"/>
        <h3>Party up before you play.</h3>
        <!-- <a href="#" class="learn">
          <h6>LEARN MORE <img src="assets/images/arrow.svg" alt="Explore Features"> </h6>
        </a> -->
      </div>
    </main>
  <% } else { %>
    <header class="header container-fluid">
      <nav class="container">
        <section class="row">
          <div class="column column-20">
            <a href="/"><img class="logo" src="assets/logos/unite-logo-black.png" height="40px"/></a>
            <a href="/"><img class="logo1" src="assets/logos/unite-logo-black-small.png" height="40px"/></a>
          </div>
          <div class="column nav">
            <div class="nav">
              <a class="nav-link" href="/directory">DIRECTORY</a>
            </div>
            <span class="">|</span>
            <div class="profile">
              <h6 class="username"><%= user.username_full %></h6>
              <img class="avatar" src="https://discordapp.com/api/users/<%= user.discord_id %>/avatars/<%= user.avatar %>.jpg" height="30px"/>
              <a href="/logout" title="Log Out"><img class="logout" src="assets/images/logout.svg" height="25px"/></a>
            </div>
          </div>
        </section>
      </nav>
    </header>
    <main>
      <div class="video-overlay"></div>
      <video playsinline autoplay muted loop poster="assets/video/moba.png" id="bgvid">
        <source src="assets/video/moba.webm" type="video/webm">
        <source src="assets/video/moba.mp4" type="video/mp4">
      </video>
      <div class="login-message">
        <h1>Hello, <%= user.username %>!</h1>
        <h5>Welcome to Unite. Go ahead and browse our <a href="/directory">directory</a>. Find the game you want to play, and either join a team or create your own.</h5>
      </div>
    </main>
  <% } %>

<%- include('footer') %>
