<%- include('header') %>
  <% if (!loggedIn) { %>

  <% } else { %>
    <header class="header container-fluid">
      <nav class="container">
        <section class="row">
          <div class="column column-20">
            <a href="/"><img class="logo" src="assets/logos/unite-logo-black.png" height="40px"/></a>
            <a href="/"><img class="logo1" src="assets/logos/unite-logo-black-small.png" height="40px"/></a>
          </div>
          <div class="column nav">
            <div class="nav">
              <a class="nav-link" href="/directory">DIRECTORY</a>
            </div>
            <span class="">|</span>
            <div class="profile">
              <h6 class="username"><%= user.username_full %></h6>
              <img class="avatar" src="https://discordapp.com/api/users/<%= user.discord_id %>/avatars/<%= user.avatar %>.jpg" height="30px"/>
              <a href="/logout" title="Log Out"><img class="logout" src="assets/images/logout.svg" height="25px"/></a>
            </div>
          </div>
        </section>
      </nav>
    </header>
    <main class="container">
      <section class="row" id="team-lobby">

      </section>
    </main>
  <% } %>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <script src="js/team.js"></script>
  <script src="js/chat.js"></script>
  <script>
    var user = <%- JSON.stringify(user) %>
  </script>
<%- include('footer') %>
